#page-landing {
  width: 100vw;
  padding-bottom: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-in-primary);
  background-color: var(--color-primary);
}

.logo-container img {
  height: 10rem;
}

.hero-image {
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 28rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);
  transition: background-color 2s;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a img {
  width: 4rem;
}

.buttons-container a.study {
  background-color: var(--color-primary-lighter);
}

.buttons-container a.study:hover {
  background-color: var(--color-primary-light);
}

.buttons-container a.give-classes {
  background-color: var(--color-secondary);
}

.buttons-container a.give-classes:hover {
  background-color: var(--color-secondary-dark);
}

.buttons-container a img {
  margin-right: 2.4rem;
}

.welcome {
  font-family: Poppins;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-title-in-primary);
  text-align: left;

  margin-top: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome b {
  font-weight: 700;
}

.total-connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections img {
  margin-left: 0.8rem;
}

#page-landing-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10rem;
  margin-top: 2.4rem;
}

#page-landing-content header .user-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-landing-content header .user-information img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

#page-landing-content header .user-information span {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--color-text-in-primary);
}

#page-landing-content header .button {
  width: 4rem;
  height: 4rem;
  padding: 0;
  cursor: pointer;
}

#page-landing-content header .button img {
  width: 100%;
}

@media (min-width: 1100px) {
  #page-landing-content {
    max-width: 1100px;

    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 2fr;
    grid-template-rows: 1fr 450px 1fr;
    grid-template-areas: 'header header header header' 'logo logo hero hero' 'welcome total buttons buttons';
  }

  #page-landing-content header {
    grid-area: header;
    margin-top: 1.6rem;
  }

  #page-landing-content .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;
    margin-bottom: 5.6rem;
  }

  .logo-container h2 {
    text-align: initial;
    font-size: 3.6rem;
  }

  .logo-container img {
    height: 100%;
  }

  .hero-image {
    grid-area: hero;
    justify-self: end;
  }

  .buttons-container {
    grid-area: buttons;
    justify-self: end;
  }

  .buttons-container a {
    font-size: 2.4rem;
  }

  .total-connections {
    grid-area: total;
    justify-content: flex-start;
  }

  .welcome {
    grid-area: welcome;
    justify-self: flex-start;
    align-items: flex-start;
  }
}
